@CHARSET "UTF-8";

.content{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	vertical-align:middle;
	//padding-top: 5px;
	//padding-left: 20%;
}

.tablestyle{
	padding-left: 5%;
}

.menu1{
	display:table;
	width:300px;
	height:300px;
	border-radius:150px;
	margin-top:35px;
	margin-right:40px;
	font-size:28px;
	color:#fff;
	//line-height:100px;
	text-align:center;
	text-decoration:none;
	vertical-align: middle;
	background:#26d5aa;
	position: relative;
    //-webkit-animation: myfirst 5s linear 5s infinite alternate; /* Chrome, Safari, Opera */ 
}

.menu2{
	display:table;
	width:300px;
	height:300px;
	border-radius:150px;
	margin-top:35px;
	margin-right:40px;
	font-size:28px;
	color:#fff;
	//line-height:100px;
	opacity:0.82;
	text-align:center;
	text-decoration:none;
	vertical-align: middle;
	background:#26d5aa;
	position: relative;
    //-webkit-animation: myfirst 5s linear 5s infinite alternate; /* Chrome, Safari, Opera */  
}

.menu3{
	display:table;
	width:300px;
	height:300px;
	border-radius:150px;
	margin-top:35px;
	margin-right:40px;
	font-size:28px;
	color:#fff;
	//line-height:100px;
	opacity:0.7;
	text-align:center;
	text-decoration:none;
	vertical-align: middle;
	background:#26d5aa;
	position: relative;
    //-webkit-animation: myfirst 5s linear 5s infinite alternate; /* Chrome, Safari, Opera */  
}



.menu4{
	display:table;
	width:300px;
	height:300px;
	border-radius:150px;
	margin-top:35px;
	margin-right:40px;
	font-size:28px;
	color:#fff;
	//line-height:100px;
	opacity:0.59;
	text-align:center;
	text-decoration:none;
	vertical-align: middle;
	background:#26d5aa;
	position: relative;
    //-webkit-animation: myfirst 5s linear 5s infinite alternate; /* Chrome, Safari, Opera */  
}

.menu5{
	display:table;
	width:300px;
	height:300px;
	border-radius:150px;
	margin-top:35px;
	margin-right:40px;
	font-size:28px;
	color:#fff;
	//line-height:100px;
	opacity:0.45;
	text-align:center;
	text-decoration:none;
	vertical-align: middle;
	background:#26d5aa;
	position: relative;
    //-webkit-animation: myfirst 5s linear 5s infinite alternate; /* Chrome, Safari, Opera */  
}

.menu6{
	display:table;
	width:260px;
	height:260px;
	border-radius:130px;
	margin-top:35px;
	margin-right:40px;
	font-size:28px;
	color:#fff;
	//line-height:100px;
	opacity:0.3;
	text-align:center;
	text-decoration:none;
	vertical-align: middle;
	background:#26d5aa;
	position: relative;
    //-webkit-animation: myfirst 5s linear 5s infinite alternate; /* Chrome, Safari, Opera */  
}

.tempspan{
    display: table-cell; 
  	vertical-align: middle; 
  	text-align: center; 
}
.menu1:hover,.menu2:hover,.menu3:hover,.menu4:hover,.menu5:hover,.menu6:hover{
	color:#ffffff;
	text-decoration:none;
	background:#5c5757;
}
	
@-webkit-keyframes myfirst {
    0%   {background-color:orange; left:0px; top:0px;}
    50%  {background-color:yellow; left:200px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
}
